<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Update Student</title>
</head>
<body>
<form action="#" th:action="@{/updateStudent}" th:object="${student}"  method="post">
    <table border="1">
        <tr>
            <td><input type="number" th:field="*{id}" value="*{id}"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{firstName}" value="*{firstName}"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{lastName}" value="*{lastName}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

</body>
</html>